.filter {
    color: #2e2e2e;
    border-bottom: 1px solid transparent;
    transition: border-color 150ms ease-in;
    text-decoration: none;
}


.filter-selected {
    color: #2e2e2e;
    border-bottom: 1px solid #2e2e2e;
}

.filter-not-selected:hover {
    border-bottom: 1px solid #6c757d;
}